<!doctype html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <title>Tweeyoncé</title>
    <link rel="stylesheet" href="styles.css">
    <!-- dependencies -->
    <script src="lib/jquery.js"></script>
    <script src="lib/d3.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <link rel="shortcut icon" href="/bfavicon.ico" type="image/icon">
    <link rel="icon" href="/bfavicon.ico" type="image/icon">

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>

    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
    rel="stylesheet">


    <!-- scripts -->
    <script src="angapp.js"></script>
    <script src="MyAppController.js"></script>
    <script src="tweets.js"></script>
    <script src="d3Mod.js"></script>
    <script src="wordCount.js"></script>
    <script src="appdirectives.js"></script>


  </head>
  <body ng-controller="homeCTRL">
      <h1>Tweeyoncé<span ng-bind="search"></span></h1>
    <div>
     <!-- <div><a href="#"><span><button>Word Count</button></span></a><a href="#tweets"><span><button>Tweets</button></span></a><a href="#map"><span><button>Map</button></span></a></div> -->
     <div class="container-fluid">
        <div class="col-md-6" ng-controller = 'ModalDemoCtrl'>
          <div class="d3chart">
            <d3-bars label="d3Label" data="d3Data" bar-height="20" bar-padding="5" id="bars" on-click="d3OnClick(item)"></d3-bars> 
          </div>
        </div>
        <div class="col-md-6">
           <div id="map"></div>
        </div>
      </div>
    <h3 style="text-align: center" class="or"></h3>
    <div id="searchWrapper">
      <div class="form-group">
        <form ng-submit="submitSearch(selected)" name='inputBar'>
          <input type="text"  ng-submit="submitSearch(selected)" name='inputBar'ng-model="selected" placeholder="Search something less awesome..." class="form-control"><br>
          <button ng-click="submitSearch(selected)" type = "button" class="btn-large btn btn-danger searchButton">FIND TWEETS</button>
        </form>
      </div>
    </div>
      </div>
  </body>
</html>