body {

    text-align: center;
    background-color: black !important;
    color: pink !important;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

.d3chart{
    background-color: currentcolor;
    height: 480px;
    background-image: url('/images/bey.jpg');
    background-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

svg {
    
}
li {
    list-style-type: none;
     color: black;
     text-align: left;
}
    
li:hover {
  background-color: #ddd;;
}

p {
    word-wrap:break-word;
}

.profilepic {
    height: 30px;
    width: 30px;
    float: left;
}
.tweetText {
    font-size: 14px;
    text-align: left;
}
#map {
    height:480px;
    width:620px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.marker {
    margin-bottom:0;
    margin-top: 0;
    color: black;
    font-size: 12px;
}
.infoWindowContent{
    color: black;
    font-size: 12px;
}
.gmnoprint img {
    max-width: none; 
}
.gm-style img {
    max-width: none; 
}
.gm-style label {
    width: auto; 
    display: inline; 
}
.form-control{
    width: 350px !important;
    float: left !important;
    margin-left: 25px !important;
    margin-top: 20px !important;
}
button{
    float: left !important;
    margin-top: 20px !important;
}
.bar:hover{
    fill: gray !important; 
}